# graficos txt
ex/*
tx/*
# binários
*.exe
BIN/nzd/
BIN/eur/
BIN/gbp/
BIN/chf/
BIN/cad/
BIN/jpy/
BIN/aud/
BIN/hkd/
BIN/brl/
BIN/usd/
BIN/cfd/
BIN/mf/
BIN/fx/
BIN/em/
BIN/pt/
BIN/sw/
BIN/gp/
BIN/mg/
BIN/ml/
BIN/cu/
